<& table_head.html, table => 'pollen' &>
% my $data = $mydb->MySelect(statement => "SELECT * FROM pollen",);
% foreach my $datum (@{$data}) {
% my ($id, $accession, $tc_code, $tc_description, $family, $family_number, $protein_description, $aramemnon, $conpred, $cluster, $pollen_pref, $affy, $protein_id, $ms, $bc, $tc, $mp, $dry_pollen, $min_30, $hr_4, $siv) = @{$datum};
    <tr>
      <td><% $accession %></td>
      <td><% $tc_code %></td>
      <td><% $tc_description %></td>
      <td><% $family %></td>
      <td><% $family_number %></td>
      <td><% $protein_description %></td>
      <td><% $aramemnon %></td>
      <td><% $conpred %></td>
      <td><% $cluster %></td>
      <td><% $pollen_pref %></td>
      <td><% $affy %></td>
      <td><% $protein_id %></td>
      <td><% $ms %></td>
      <td><% $bc %></td>
      <td><% $tc %></td>
      <td><% $mp %></td>
      <td><% $dry_pollen %></td>
      <td><% $min_30 %></td>
      <td><% $hr_4 %></td>
      <td><% $siv %></td>
    </tr>
% }
  </tbody>
</table>
  </div> 